In [40]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('email.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df['Category'].value_counts()

Category
ham               4825
spam               747
{"mode":"full"       1
Name: count, dtype: int64

In [6]:
df = df[df['Category']!='{"mode":"full"']

In [7]:
df['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [9]:
spam = df[df['Category']=='spam']
ham = df[df['Category']=='ham']

In [10]:
ham

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
6         ham  Even my brother is not like to speak with me. ...
...       ...                                                ...
5565      ham                                       Huh y lei...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [11]:
spam

     Category                                            Message
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
5        spam  FreeMsg Hey there darling it's been 3 week's n...
8        spam  WINNER!! As a valued network customer you have...
9        spam  Had your mobile 11 months or more? U R entitle...
11       spam  SIX chances to win CASH! From 100 to 20,000 po...
...       ...                                                ...
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [24]:
X = pd.concat([ham['Message'],spam['Message'].head(747)],axis=0)
y=pd.concat([ham['Category'],spam['Category'].head(747)],axis=0)

In [25]:
X= pd.DataFrame(X)
y = pd.DataFrame(y)

In [33]:
X_train_bal,X_text_bal,y_train_bal,y_test_bal = train_test_split(X['Message'],y['Category'],test_size=0.2,random_state=39)

In [34]:
CV = CountVectorizer().fit(X_train_bal)

In [35]:
X_train_bal = CV.transform(X_train_bal).toarray()
X_text_bal = CV.transform(X_text_bal).toarray()

In [36]:
X_train_bal

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
le = LabelEncoder().fit(y_train_bal)
y_train_bal = le.transform(y_train_bal)
y_test_bal = le.transform(y_test_bal)

In [45]:
lr = LogisticRegression().fit(X_train_bal,y_train_bal)
rf = RandomForestClassifier().fit(X_train_bal,y_train_bal)
dtc = DecisionTreeClassifier().fit(X_train_bal,y_train_bal)
mnb = MultinomialNB().fit(X_train_bal,y_train_bal)

In [46]:
print(f"""
lr: {lr.score(X_text_bal,y_test_bal)}
rf: {rf.score(X_text_bal,y_test_bal)}
dtc: {dtc.score(X_text_bal,y_test_bal)}
mnb: {mnb.score(X_text_bal,y_test_bal)}
""")

lr: 0.9802690582959641
rf: 0.9766816143497757
dtc: 0.9560538116591928
mnb: 0.9802690582959641

In [62]:
le.classes_

array(['ham', 'spam'], dtype=object)

In [81]:
lr.predict(CV.transform(['you win 100$ to claim this click on this link ']))

array([1])

In [82]:
y_test_bal[56]

0

In [90]:
def factcheck(text):
    trfd = CV.transform([text])
    result = lr.predict(trfd.toarray())
    if result == np.array([1]):
        print("Spam")
    else:
        print("Ham")

In [91]:
factcheck("you win 100$ to claim this click on this link ")

Spam